/* Start */
.start
    padding-top: 70px
    padding-bottom: 70px
    &__item
        border-radius: 10px
        height: 110px
        color: $white
        font-size: 20px
        font-weight: 700
        padding: 15px
        & span
            position: absolute
            top: auto
            left: 15px
            right: auto
            bottom: 15px
            font-size: 12px
            font-weight: 400
    &__item-1
        border-radius: 10px
.carousel-inner
    height: 378px
.carousel-item
    & img
        border-radius: 10px
        height: 378px
        width: auto
.carousel-caption
    top: 25px
    bottom: auto
    & span  
        box-shadow: -15px 0 0 $red, 15px 0 0 $red
        background-color: $red
        color: $white
        font-size: 30px
        font-weight: 700
        line-height: 139%
.carousel-btn
    position: absolute
    bottom: 60px
    left: 15%
    background: $blue
    color: $white
    transition: .3s
    &:hover
        transform: scale(1.1)
        background: $blue
        color: $white